{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    <div class="usa-grid" style="margin-top: 20px;">
      <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
        {{ content }}
      </nav>
    </div>
  {% endif %}
{% endblock %}
