{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}
<div class="farmers-landing-page">
  <div class="background-image background-image-header" style="background-image:url({{ image_url }});">
    <div class="overlay-card manage-text">
      <div class="overlay-card__title">{{ heading }}</div>
    </div>
  </div>
</div>
